@import url('https://fonts.googleapis.com/css?family=Oswald:200,300|Source+Sans+Pro:200,300,400&display=swap');

:root{
  --steel-blue: #293749;
  --steel-blue-light: #8098b7;
  --gray-1: #f9f9f9;
  --gray-2: #ccc;
  --gray-3: #767676;
  --gray-4: #515151;
  --gray-5: #313131;

  --font-text: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  --font-heading: 'Oswald', Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, p {
  color: var(--gray-5);
}
