main {
  max-width: 42rem;
  margin: 5rem auto;
  min-height: 65vh;
}

footer {
  max-width: 42rem;
  margin: 0 auto;
  padding: 1rem 0;
  font-family: var(--font-heading);
}

.homePage {
  max-width: none;
  min-height: 0;
  margin: 0;
}
