/* generic navigation styles */

.siteNav {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 10;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  padding: 2em 0 0 0;
}

.siteNav ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.siteNav li {
  margin: 0 10px;
  padding: 5px;
  position: relative;
}

.postPage.siteNav {
  flex-direction: column;
}

.postPage .homeLink {
  padding-bottom: 2rem;
}

.homeLink a {
  position: relative;
  padding: 5px 0;
}

.siteNav li::before,
.homeLink a::before {
  content: '';
  height: 2px;
  width: 55%;
  position: absolute;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%);
  display: block;
  background-color: var(--gray-3);
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.siteNav li:hover::before,
.homeLink a:hover::before {
  content: '';
  height: 2px;
  width: 55%;
  position: absolute;
  bottom: 0px;
  display: block;
  background-color: var(--gray-3);
  opacity: 1;
  transition: all 0.2s linear;
}

.siteNav a {
  text-decoration: none;
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: var(--gray-5) !important;
}

/* styles for the home page navigation */

.homeNav {
  display: block;
  position: absolute;
  width: 100%;
  opacity: 0;
  animation: fadeIn;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  animation-delay: 0.75s;
}

.homeNav ul {
  width: 80%;
  margin: 0 auto;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media all and (min-width: 450px) {
  .postPage .homeLink {
    padding-bottom: 0;
  }

  .postPage.siteNav {
    flex-direction: row;
  }
}
