.canvas {
  position: absolute;
  top: 0;
  z-index: 1;
  opacity: 0;
  animation: fadeIn;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  animation-delay: 0.25s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
