main {
  margin-top: 0;
}

.contentWrapper {
  width: 80%;
  margin: 0 auto;
}

.pageTitle {
  font-size: 2.5em;
  font-family: var(--font-heading);
}

.lead {
  font-size: 1.2em;
  line-height: 1.5em;
  font-family: var(--font-text);
}